<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles1.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <title>CNC LASER</title>
</head>
<body>
    <!--MENU DE LA PAGINA-->
    <!--LOGO DE LA PAGINA-->
    <header>
        <a onclick="titulo()" class="logo">
            <h1>CNC IMPRESORA</h1>
        </a>
        <!--NAVEGACION-->
        <nav class="navegacion">
            <a data-target="#inicio"><i class="bi bi-house-door"></i>INICIO</a>
            <a data-target="#estructura"><i class="bi bi-briefcase"></i>ESTRUCTURA</a>
            <a data-target="#acerca"><i class="bi bi-info-circle"></i>ACERCA DE</a>
            <a data-target="#contacto"><i class="bi bi-envelope-check"></i>CONTACTO</a>
        </nav>
    </header>
    <!--CONTENIDO DE NAVEGACION-->
    <div class="content">
        <!--INICIO-->
        <div data-content class="text active" id="inicio">
           <div class="nosotros">
             <h1>BIENVENIDOS</h1>
             <h2>Somos grupo dinamita</h2>
             <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt ipsum dolores, labore possimus aliquam laborum suscipit, ipsam recusandae facilis, assumenda quam inventore porro odit exercitationem dignissimos doloribus quaerat obcaecati animi!</p>
             <a href="">
                <button>ACERCA DE NOSOTROS<img width="25"></button>
             </a>
           </div>
        </div>
        <!--ESTRUCTURA-->
        <div data-content class="text" id="estructura">
            <div class="video">
                <ul>
                    <li>
                        <video width="1000" height="500" loop controls autoplay>
                            <source src="video/modelo3d.mp4" type="video/mp4">
                        </video>
                    </li>
                </ul>
            </div>
            <div class="estruct">
                <h1 class="title">DIA 1</h1>
                <hr>
                <section class="slider-box">
                    <ul>
                        <li>
                            <img src="img/dia1-1.jpg" alt="">
                            <div class="texto">
                                <h2>IMAGEN 1</h2>
                                <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique error at esse quod est ullam odit. Unde, molestiae assumenda adipisci recusandae aliquid harum alias obcaecati, voluptatum delectus ex corrupti consequuntur?</P>
                            </div>
                        </li>
                        <li>
                            <img src="img/dia1-2.jpeg" alt="">
                            <div class="texto">
                                <h2>IMAGEN 2</h2>
                                <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique error at esse quod est ullam odit. Unde, molestiae assumenda adipisci recusandae aliquid harum alias obcaecati, voluptatum delectus ex corrupti consequuntur?</P>
                            </div>
                        </li>
                        <li>
                            <img src="img/dia1-3.jpeg" alt="">
                            <div class="texto">
                                <h2>IMAGEN 3</h2>
                                <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique error at esse quod est ullam odit. Unde, molestiae assumenda adipisci recusandae aliquid harum alias obcaecati, voluptatum delectus ex corrupti consequuntur?</P>
                            </div>
                        </li>
                        <li>
                            <img src="img/dia1-4.jpeg" alt="">
                            <div class="texto">
                                <h2>IMAGEN 4</h2>
                                <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique error at esse quod est ullam odit. Unde, molestiae assumenda adipisci recusandae aliquid harum alias obcaecati, voluptatum delectus ex corrupti consequuntur?</P>
                            </div>
                        </li>
                        <li>
                            <img src="img/dia1-5.jpg" alt="">
                            <div class="texto">
                                <h2>IMAGEN 5</h2>
                                <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique error at esse quod est ullam odit. Unde, molestiae assumenda adipisci recusandae aliquid harum alias obcaecati, voluptatum delectus ex corrupti consequuntur?</P>
                            </div>
                        </li>
                        <li>
                            <img src="img/dia1-6.jpeg" alt="">
                            <div class="texto">
                                <h2>IMAGEN 6</h2>
                                <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique error at esse quod est ullam odit. Unde, molestiae assumenda adipisci recusandae aliquid harum alias obcaecati, voluptatum delectus ex corrupti consequuntur?</P>
                            </div>
                        </li>
                        <li>
                            <img src="img/dia1-7.jpeg" alt="">
                            <div class="texto">
                                <h2>IMAGEN 7</h2>
                                <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique error at esse quod est ullam odit. Unde, molestiae assumenda adipisci recusandae aliquid harum alias obcaecati, voluptatum delectus ex corrupti consequuntur?</P>
                            </div>
                        </li>
                        <li>
                            <img src="img/dia1-8.jpeg" alt="">
                            <div class="texto">
                                <h2>IMAGEN 8</h2>
                                <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique error at esse quod est ullam odit. Unde, molestiae assumenda adipisci recusandae aliquid harum alias obcaecati, voluptatum delectus ex corrupti consequuntur?</P>
                            </div>
                        </li>
                        <li>
                            <img src="img/dia1-9.jpg" alt="">
                            <div class="texto">
                                <h2>IMAGEN 9</h2>
                                <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique error at esse quod est ullam odit. Unde, molestiae assumenda adipisci recusandae aliquid harum alias obcaecati, voluptatum delectus ex corrupti consequuntur?</P>
                            </div>
                        </li>
                        <li>
                            <img src="img/dia1-10.jpg" alt="">
                            <div class="texto">
                                <h2>IMAGEN 10</h2>
                                <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique error at esse quod est ullam odit. Unde, molestiae assumenda adipisci recusandae aliquid harum alias obcaecati, voluptatum delectus ex corrupti consequuntur?</P>
                            </div>
                        </li>
                    </ul>
                </section>
            </div>
            <div class="estruct">
                <h1 class="title">DIA 2</h1>
                <hr>
                <section class="slider-box">
                    <ul>
                        <li>
                            <img src="img/dia2-1.jpg" alt="">
                            <div class="texto">
                                <h2>IMAGEN 1</h2>
                                <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique error at esse quod est ullam odit. Unde, molestiae assumenda adipisci recusandae aliquid harum alias obcaecati, voluptatum delectus ex corrupti consequuntur?</P>
                            </div>
                        </li>
                        <li>
                            <img src="img/dia2-2.jpg" alt="">
                            <div class="texto">
                                <h2>IMAGEN 2</h2>
                                <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique error at esse quod est ullam odit. Unde, molestiae assumenda adipisci recusandae aliquid harum alias obcaecati, voluptatum delectus ex corrupti consequuntur?</P>
                            </div>
                        </li>
                        <li>
                            <img src="img/dia2-3.jpg" alt="">
                            <div class="texto">
                                <h2>IMAGEN 3</h2>
                                <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique error at esse quod est ullam odit. Unde, molestiae assumenda adipisci recusandae aliquid harum alias obcaecati, voluptatum delectus ex corrupti consequuntur?</P>
                            </div>
                        </li>
                        <li>
                            <img src="img/dia2-4.jpg" alt="">
                            <div class="texto">
                                <h2>IMAGEN 4</h2>
                                <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique error at esse quod est ullam odit. Unde, molestiae assumenda adipisci recusandae aliquid harum alias obcaecati, voluptatum delectus ex corrupti consequuntur?</P>
                            </div>
                        </li>
                        <li>
                            <img src="img/dia2-5.jpg" alt="">
                            <div class="texto">
                                <h2>IMAGEN 5</h2>
                                <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique error at esse quod est ullam odit. Unde, molestiae assumenda adipisci recusandae aliquid harum alias obcaecati, voluptatum delectus ex corrupti consequuntur?</P>
                            </div>
                        </li>
                        <li>
                            <img src="img/dia2-6.jpg" alt="">
                            <div class="texto">
                                <h2>IMAGEN 6</h2>
                                <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique error at esse quod est ullam odit. Unde, molestiae assumenda adipisci recusandae aliquid harum alias obcaecati, voluptatum delectus ex corrupti consequuntur?</P>
                            </div>
                        </li>
                        <li>
                            <img src="img/dia2-7.jpg" alt="">
                            <div class="texto">
                                <h2>IMAGEN 7</h2>
                                <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique error at esse quod est ullam odit. Unde, molestiae assumenda adipisci recusandae aliquid harum alias obcaecati, voluptatum delectus ex corrupti consequuntur?</P>
                            </div>
                        </li>
                        <li>
                            <img src="img/dia2-8.jpg" alt="">
                            <div class="texto">
                                <h2>IMAGEN 8</h2>
                                <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique error at esse quod est ullam odit. Unde, molestiae assumenda adipisci recusandae aliquid harum alias obcaecati, voluptatum delectus ex corrupti consequuntur?</P>
                            </div>
                        </li>
                        <li>
                            <img src="img/dia2-9.jpg" alt="">
                            <div class="texto">
                                <h2>IMAGEN 9</h2>
                                <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique error at esse quod est ullam odit. Unde, molestiae assumenda adipisci recusandae aliquid harum alias obcaecati, voluptatum delectus ex corrupti consequuntur?</P>
                            </div>
                        </li>
                        <li>
                            <img src="img/dia2-10.jpg" alt="">
                            <div class="texto">
                                <h2>IMAGEN 10</h2>
                                <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique error at esse quod est ullam odit. Unde, molestiae assumenda adipisci recusandae aliquid harum alias obcaecati, voluptatum delectus ex corrupti consequuntur?</P>
                            </div>
                        </li>
                        <li>
                            <img src="img/dia2-11.jpg" alt="">
                            <div class="texto">
                                <h2>IMAGEN 11</h2>
                                <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique error at esse quod est ullam odit. Unde, molestiae assumenda adipisci recusandae aliquid harum alias obcaecati, voluptatum delectus ex corrupti consequuntur?</P>
                            </div>
                        </li>
                        <li>
                            <img src="img/dia2-12.jpg" alt="">
                            <div class="texto">
                                <h2>IMAGEN 12</h2>
                                <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique error at esse quod est ullam odit. Unde, molestiae assumenda adipisci recusandae aliquid harum alias obcaecati, voluptatum delectus ex corrupti consequuntur?</P>
                            </div>
                        </li>
                    </ul>
                </section>
            </div>
        </div>
        <!--ACERCA DE-->
        <div data-content class="text" class="acerca" id="acerca">
            <section class="box">
                <img src="img/perfil1.jpg" width="180" alt="" class="box-img">
                <h1>David Calles</h1>
                <h2>Programador python-java</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate veritatis quo illo magni consectetur eos, error ducimus nisi, ipsa voluptatum pariatur sunt unde voluptatibus nobis? Sed autem eius sunt modi?</p>
                <ul>
                    <li><a href="#"><i class="bi bi-facebook"></i></a></li>
                    <li><a href="#"><i class="bi bi-twitter"></i></a></li>
                    <li><a href="#"><i class="bi bi-instagram"></i></a></li>
                    <li><a href="#"><i class="bi bi-envelope-exclamation-fill"></i></a></li>
                </ul>
            </section>
            <section class="box">
                <img src="img/perfil2.jpg" width="180" alt="" class="box-img">
                <h1>David Nájera</h1>
                <h2>fron end-html-css-javascript</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate veritatis quo illo magni consectetur eos, error ducimus nisi, ipsa voluptatum pariatur sunt unde voluptatibus nobis? Sed autem eius sunt modi?</p>
                <ul>
                    <li><a href="#"><i class="bi bi-facebook"></i></a></li>
                    <li><a href="#"><i class="bi bi-twitter"></i></a></li>
                    <li><a href="#"><i class="bi bi-instagram"></i></a></li>
                    <li><a href="#"><i class="bi bi-envelope-exclamation-fill"></i></a></li>
                </ul>
            </section>
            <section class="box">
                <img src="img/perfil3.jpg" width="180" alt="" class="box-img">
                <h1>Benjamin Barahona</h1>
                <h2>Diseñador de estructura de la cnc</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate veritatis quo illo magni consectetur eos, error ducimus nisi, ipsa voluptatum pariatur sunt unde voluptatibus nobis? Sed autem eius sunt modi?</p>
                <ul>
                    <li><a href="#"><i class="bi bi-facebook"></i></a></li>
                    <li><a href="#"><i class="bi bi-twitter"></i></a></li>
                    <li><a href="https://instagram.com/bitmap0.00?utm_source=qr&igshid=MzNlNGNkZWQ4Mg%3D%3D"><i class="bi bi-instagram"></i></a></li>
                    <li><a href="#"><i class="bi bi-envelope-exclamation-fill"></i></a></li>
                </ul>
            </section>
            <section class="box">
                <img src="img/perfil4.jpg" width="180" alt="" class="box-img">
                <h1>Cristopher Lima</h1>
                <h2>Patrocinador</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate veritatis quo illo magni consectetur eos, error ducimus nisi, ipsa voluptatum pariatur sunt unde voluptatibus nobis? Sed autem eius sunt modi?</p>
                <ul>
                    <li><a href="#"><i class="bi bi-facebook"></i></a></li>
                    <li><a href="#"><i class="bi bi-twitter"></i></a></li>
                    <li><a href="https://instagram.com/christopherlima8?igshid=MmIzYWVlNDQ5Yg=="><i class="bi bi-instagram"></i></a></li>
                    <li><a href="#"><i class="bi bi-envelope-exclamation-fill"></i></a></li>
                </ul>
            </section>
            <section class="box">
                <img src="img/perfil5.jpg" width="180" alt="" class="box-img">
                <h1>Christian Cortez</h1>
                <h2>Extra</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate veritatis quo illo magni consectetur eos, error ducimus nisi, ipsa voluptatum pariatur sunt unde voluptatibus nobis? Sed autem eius sunt modi?</p>
                <ul>
                    <li><a href="#"><i class="bi bi-facebook"></i></a></li>
                    <li><a href="#"><i class="bi bi-twitter"></i></a></li>
                    <li><a href="#"><i class="bi bi-instagram"></i></a></li>
                    <li><a href="#"><i class="bi bi-envelope-exclamation-fill"></i></a></li>
                </ul>
            </section>
        </div>
        <!--CONTACTO-->
        <div data-content class="contacto" id="contacto">
            <form autocomplete="off" action="https://formsubmit.co/anime69.najera@gmail.com" method="POST">
                <h2>contacto</h2>
                <div class="form-text">
                    <a href="#">Politica de privacidad</a>
                    <a href="#">Terminos y condiciones</a>
                </div>
                <div class="input-group">
                    <input type="text" name="name" placeholder="Nombre">
                    <input type="tel" name="phone" placeholder="Telefono">
                    <input type="email" name="email" placeholder="Email">
                    <textarea name="Message" id="" cols="30" rows="5" placeholder="Message"></textarea>
                    <input class="btn" type="submit" value="Enviar">
                </div>
            </form>
        </div>
        <div>
            <a href="https://youtu.be/xvFZjo5PgG0"><img class="doom" src="img/istereg.gif" alt=""></a>
        </div>
    </div>
    <script src="../script/script1.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>